BASIC {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
};

BASICSSO {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

FORM {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

CLIENT-CERT {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

CERT {
   com.sap.cloud.crypto.clientcert.lm.ClientCertLoginModule sufficient;
};

BASICCERT {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.cloud.crypto.clientcert.lm.ClientCertLoginModule sufficient;
};

DIGEST {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

SAML2 {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

OAUTH {
   com.sap.cloud.security.oauth2.loginmodule.jwt.OAuthJWTLoginModule sufficient;
   com.sap.cloud.security.oauth2.loginmodule.OAuth2JPaaSLoginModule sufficient;
};

JWTOAUTHBASIC {
   com.sap.cloud.security.oauth2.loginmodule.jwt.OAuthJWTLoginModule sufficient;
   com.sap.cloud.security.oauth2.loginmodule.OAuth2JPaaSLoginModule sufficient;
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
};

BASICTEST {
       com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
       com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

FORMTEST {
       com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient;
       com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
};

SAML2TEST {
       com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient;
};

SAML2OLD {
   com.sap.security.saml2.sp.SAML2LoginModule sufficient provider=jpaas.developer;
};

SAML2ADMINMODE {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient adminmode=true;
};

BASICADMINMODE {
   com.sap.cloud.security.oauth2.loginmodule.jwt.OAuthJWTLoginModule sufficient adminmode=true;
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
};

OAUTHJWT {
   com.sap.cloud.security.oauth2.loginmodule.jwt.OAuthJWTLoginModule sufficient;
};