# folders
dist/
.settings/
.idea/
.vscode/
.run/
target/
dirigible_local/
bin/

# files
.DS_Store
.project
.classpath
*.bak
*.class
*.jar
derby.log
*.versionsBackup
*.fpr
*.iml
*._trace
*.log

!releng/buildpacks/**/bin/

# Ignore Neo SDK
resources/resources-neo-sdk/src/main/resources/META-INF/dirigible/resources-neo-sdk/*
!resources/resources-neo-sdk/src/main/resources/META-INF/dirigible/resources-neo-sdk/differ.sh
