# Default values for XSK
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Replica count for the instance
replicaCount: 1

deployment:
  # Change deployment strategy type
  strategyType: Recreate  
  # ReadinessProbe
  readinessProbePeriodSeconds: 10
  readinessProbeInitialDelaySeconds: 5
  readinessProbeHttpGetPort: 8080
  # LivenessProbe
  LivenessProbePeriodSeconds: 60
  LivenessProbeInitialDelaySeconds: 60
  LivenessProbeHttpGetPort: 8080
  # Volume mounts for the deployment
  volumeMountsName: xsk-volume
  volumeMountsMountPath: /usr/local/tomcat/target/dirigible/repository
  volumesName: xsk-volume
  volumespersistentVolumeClaimClaimName: xsk-claim

persistentVolumeClaim:
  enabled: true
  name: xsk-claim
  accessModes: ReadWriteOnce
  resourcesStorage: 1Gi

namespace:
  # Deployment namespace
  create: false
  name: default

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

securityContext:
  # Allow privileged escalation required to effectively enforce MustRunAsNonRoot.
  allowPrivilegeEscalation: false
  seccompProfile:
    # Enable seccomp profile
    type: RuntimeDefault

podSecurityContext: {}

service:
  # Type of service when you expose
  type: ClusterIP
  # Port dor the XSK instance
  port: 8080

# Name override the XSK deployment
nameOverride: ""
# Full name override XSK deployment
fullNameOverride: "" 

kyma:
  # Enable kyma deployment
  enabled: 
  # Host to expose the xsk instance 
  host:
  # Change tomcat server max http header size
  serverMaxHttpHeaderSize: "48000"
  addRoles: false
  # Roles for custom usage 
  roles:
  # Default Roles
  roleCollections:
    # Description for role collections
  - description: XSK Developer
    # Name for role collections
    name: XSK-Developer
    # Role template references for role collections
    role-template-references:
    - $XSAPPNAME.Developer
  - description: XSK Operator
    name: XSK-Operator
    role-template-references:
    - $XSAPPNAME.Operator

  roleTemplates:
    # Description for role templates
  - description: Developer related roles
    # Name for role templates
    name: "Developer"
    # Scope references for role templates
    scopeReferences:
    - $XSAPPNAME.Developer
  - description: Operator related roles
    name: "Operator"
    scopeReferences:
    - $XSAPPNAME.Operator

  scopes:
    # Description for scope
  - description: Developer scope
    # Name for scope
    name: $XSAPPNAME.Developer 
  - description: Operator scope
    name: $XSAPPNAME.Operator

application:
  # Image application image
  image:
  # Home url for XSK
  homeUrl:
  # Image pull policy 
  imagePullPolicy: Always
  # Fast boot strap option
  fastBootstrap: false

hana:
  # Enable HANA configuration
  enabled:
  # Secret name for HANA
  secretName: hana-secret
  # Url for HANA instance
  url:
  # Username for HANA instance
  username:
  # Password for HANA instance
  password:
