# Default values for XSK
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

install:
  clusterBuilder: false
  imageBuilder: false

create:
  image: false

docker:
  server:
  username:
  password:
  email:
  secretName: docker-registry-secret
  serviceAccountName: docker-registry-service-account

imageBuilder:
  repository:
  buildpack: dirigiblelabs/buildpacks-xsk

image:
  repository:
  source:
  serviceAccountName: docker-registry-service-account

clusterBuilder:
  buildImage: dirigiblelabs/buildpacks-stack-build-xsk
  runImage: dirigiblelabs/buildpacks-stack-build-xsk
  serviceAccountName: docker-registry-service-account

