name: Build

on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Download sapmachine JDK 11
      run: |
        download_url="https://github.com/SAP/SapMachine/releases/download/sapmachine-11.0.11%2B8/sapmachine-jdk-11.0.11-ea.8_linux-x64_bin.tar.gz"
        wget -O "${RUNNER_TEMP}/sapmachine-jdk-11.0.11.tar.gz" "${download_url}"
    - name: Setup sapmachine JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'jdkfile'
        jdkFile: ${{ runner.temp }}/sapmachine-jdk-11.0.11.tar.gz
        java-version: '11.0.11'
        architecture: x64
    - name: Maven Build
      run: mvn clean install
    - name: Docker Login
      run: docker login -u ${{secrets.DOCKER_USER}} -p ${{secrets.DOCKER_PASSWORD}}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
      with:
        platforms: amd64,arm64
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
      with:
          install: true
    - name: Push XSK
      run: |
        cd releng/server
        cp -r "${JAVA_HOME}" jdk
        docker build -t dirigiblelabs/xsk --build-arg JDK_TYPE=external-jdk --build-arg JDK_HOME=jdk .
        docker push dirigiblelabs/xsk
        cd ../../
    - name: Push XSK for SAP Cloud Foundry
      run: |
        cd releng/sap-cf
        cp -r "${JAVA_HOME}" jdk
        docker build -t dirigiblelabs/xsk-cf --build-arg JDK_TYPE=external-jdk --build-arg JDK_HOME=jdk .
        docker push dirigiblelabs/xsk-cf
        cd ../../
    - name: Push XSK for SAP Kyma
      run: |
        cd releng/sap-kyma
        cp -r "${JAVA_HOME}" jdk
        docker build -t dirigiblelabs/xsk-kyma --build-arg JDK_TYPE=external-jdk --build-arg JDK_HOME=jdk .
        docker push dirigiblelabs/xsk-kyma
        cd ../../
    - uses: buildpacks/github-actions/setup-pack@v4.1.0
    - name: XSK Buildpack
      run: |
        cd releng/buildpacks/xsk/
        docker build -t dirigiblelabs/buildpacks-stack-base-xsk . --target base
        docker push dirigiblelabs/buildpacks-stack-base-xsk
        docker build -t dirigiblelabs/buildpacks-stack-run-xsk . --target run
        docker push dirigiblelabs/buildpacks-stack-run-xsk
        docker build -t dirigiblelabs/buildpacks-stack-build-xsk . --target build
        docker push dirigiblelabs/buildpacks-stack-build-xsk
        cd buildpack/
        find *.toml -type f -exec sed -i ''s/#{XSKVersion}#/latest/g'' {} \;
        pack buildpack package dirigiblelabs/buildpacks-xsk --config ./package.toml
        docker push dirigiblelabs/buildpacks-xsk
        pack builder create dirigiblelabs/buildpacks-builder-xsk --config ./builder.toml
        docker push dirigiblelabs/buildpacks-builder-xsk
        cd ../../../../
    - name: XSK Kyma Buildpack
      run: |
        cd releng/buildpacks/xsk-kyma/
        docker build -t dirigiblelabs/buildpacks-stack-base-xsk-kyma . --target base
        docker push dirigiblelabs/buildpacks-stack-base-xsk-kyma
        docker build -t dirigiblelabs/buildpacks-stack-run-xsk-kyma . --target run
        docker push dirigiblelabs/buildpacks-stack-run-xsk-kyma
        docker build -t dirigiblelabs/buildpacks-stack-build-xsk-kyma . --target build
        docker push dirigiblelabs/buildpacks-stack-build-xsk-kyma
        cd buildpack/
        find *.toml -type f -exec sed -i ''s/#{XSKVersion}#/latest/g'' {} \;
        pack buildpack package dirigiblelabs/buildpacks-xsk-kyma --config ./package.toml
        docker push dirigiblelabs/buildpacks-xsk-kyma
        pack builder create dirigiblelabs/buildpacks-builder-xsk-kyma --config ./builder.toml
        docker push dirigiblelabs/buildpacks-builder-xsk-kyma
        cd ../../../../
    - name: XSK Cloud Foundry Buildpack
      run: |
        cd releng/buildpacks/xsk-cf/
        docker build -t dirigiblelabs/buildpacks-stack-base-xsk-cf . --target base
        docker push dirigiblelabs/buildpacks-stack-base-xsk-cf
        docker build -t dirigiblelabs/buildpacks-stack-run-xsk-cf . --target run
        docker push dirigiblelabs/buildpacks-stack-run-xsk-cf
        docker build -t dirigiblelabs/buildpacks-stack-build-xsk-cf . --target build
        docker push dirigiblelabs/buildpacks-stack-build-xsk-cf
        cd buildpack/
        find *.toml -type f -exec sed -i ''s/#{XSKVersion}#/latest/g'' {} \;
        pack buildpack package dirigiblelabs/buildpacks-xsk-cf --config ./package.toml
        docker push dirigiblelabs/buildpacks-xsk-cf
        pack builder create dirigiblelabs/buildpacks-builder-xsk-cf --config ./builder.toml
        docker push dirigiblelabs/buildpacks-builder-xsk-cf
        cd ../../../../
    - name: Slack Notification
      if: ${{ failure() }}
      uses: slackapi/slack-github-action@v1.14.0
      with:
        payload: "{\"type\":\"Build\",\"url\":\"${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}\"}"
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
