name: Nightly Build

on:
  schedule:
    - cron: "0 22 * * *"

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    # Download latest DockerHub image of XSK and run it in a service container
    # that is available to the steps below via 127.0.0.1:8080
    services:
      xsk:
        image: dirigiblelabs/xsk
        ports:
          - 8080:8080

    steps:
      # Checkout
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Download JDK
      - name: Download sapmachine JDK 11
        run: |
          download_url="https://github.com/SAP/SapMachine/releases/download/sapmachine-11.0.11%2B8/sapmachine-jdk-11.0.11-ea.8_linux-x64_bin.tar.gz"
          wget -O "${RUNNER_TEMP}/sapmachine-jdk-11.0.11.tar.gz" "${download_url}"

      # Setup JDK
      - name: Setup sapmachine JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'jdkfile'
          jdkFile: ${{ runner.temp }}/sapmachine-jdk-11.0.11.tar.gz
          java-version: '11.0.11'
          architecture: x64

      # Setup Google Chrome
      - name: Setup Google Chrome
        uses: browser-actions/setup-chrome@latest
      - name: Verify Google Chrome
        run: chrome --version

      # Setup Firefox
      - name: Setup Firefox
        uses: browser-actions/setup-firefox@latest
      - name: Verify Firefox
        run: firefox --version

      # Wait for XSK Service Container to Startup
      - name: Wait XSK Startup
        uses: nick-invision/retry@v2
        with:
          timeout_seconds: 15
          max_attempts: 10
          warning_on_retry: false
          command: curl -m 5 --silent --fail --request GET http://127.0.0.1:8080/services/v4/healthcheck | jq --exit-status -n 'inputs | if has("status") then .status=="Ready" else false end' > /dev/null

      # Run Selenium tests on XSK
      - name: Run Selenium Tests
        run: mvn clean install -P itests -Dhana.url="${{secrets.ITESTS_HANA_URL}}" -Dhana.username="${{secrets.ITESTS_HANA_USERNAME}}" -Dhana.password="${{secrets.ITESTS_HANA_PASSWORD}}"

        env:
          ITESTS_SELENIUM_NEO_REGION: ${{ secrets.ITESTS_SELENIUM_NEO_REGION }}
          ITESTS_SELENIUM_NEO_SUBACCOUNT: ${{ secrets.ITESTS_SELENIUM_NEO_SUBACCOUNT }}
          ITESTS_SELENIUM_NEO_USERNAME: ${{ secrets.ITESTS_SELENIUM_NEO_USERNAME }}
          ITESTS_SELENIUM_NEO_PASSWORD: ${{ secrets.ITESTS_SELENIUM_NEO_PASSWORD }}
          ITESTS_SELENIUM_HANA_DB_SCHEMA: ${{ secrets.ITESTS_SELENIUM_HANA_DB_SCHEMA }}
          ITESTS_SELENIUM_HANA_DB_SCHEMA_2: ${{ secrets.ITESTS_SELENIUM_HANA_DB_SCHEMA_2 }}
          ITESTS_SELENIUM_HANA_DB_USERNAME: ${{ secrets.ITESTS_SELENIUM_HANA_DB_USERNAME }}
          ITESTS_SELENIUM_HANA_DB_PASSWORD: ${{ secrets.ITESTS_SELENIUM_HANA_DB_PASSWORD }}

      - name: Get current Time
        uses: 1466587594/get-current-time@v2
        id: current-time
        with:
          format: YYYY-MM-DD_HH-mm-ss
          utcOffset: "+02:00"

      # Copy logs to '/xsk/test_results' and commit the directory
      - name: Create Results Dir
        run: mkdir /home/runner/work/xsk/xsk/test_results
      - name: Copy Tomcat Logs
        run: docker cp $(docker ps -aqf "name=dirigible"):/usr/local/tomcat/logs/.  /home/runner/work/xsk/xsk/test_results/tomcat_logs
      - name: Copy Surefire Reports
        run: find ./ -name 'surefire-reports' -exec cp -prv '{}' '/home/runner/work/xsk/xsk/test_results/surefire-reports' ';'
      - name: Copy Selenium Output
        run: find ./ -name 'selenium' -exec cp -prv '{}' '/home/runner/work/xsk/xsk/test_results/selenium_logs' ';'
      - name: Commit test_results directory
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.REPO_TOKEN }}
        with:
          source_file: '/home/runner/work/xsk/xsk/test_results'
          destination_repo: "${{ secrets.REPO_NAME }}"
          destination_branch: "master"
          destination_folder: "nightly/results_${{ steps.current-time.outputs.formattedTime }}_gmtplus_2"
          user_email: "${{ secrets.REPO_MAIL }}"
          user_name: "${{ secrets.REPO_UNAME }}"
          commit_message: "Nighty results from: ${{ steps.current-time.outputs.readableTime }}"

      - name: Slack Notification
        if: ${{ failure() }}
        uses: slackapi/slack-github-action@v1.14.0
        with:
          payload: "{\"type\":\"Nightly Build\",\"url\":\"${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}\"}"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
