name: Stage-release

on:

  workflow_call:
    inputs:
      XSK_VERSION:
        required: true
        type: string
      XSK_HELM_SHA:
        required: true
        type: string  
    secrets:
      STAGE_KYMA_CONFIG:
        required: true
      STAGE_HANA_URL:
        required: true
      STAGE_HANA_USERNAME:
        required: true
      STAGE_HANA_PASSWORD:
        required: true
      STAGE_KYMA_HOST:
        required: true
      STAGE_NAMESPACE:
        required: true
      STAGE_SERVICE_ACCOUNT:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    # Set XSK Kyma context 
    - name: Kubernetes set context
      uses: Azure/k8s-set-context@v1
      with:
        method: kubeconfig
        kubeconfig: ${{ secrets.STAGE_KYMA_CONFIG }}

    # Install helm
    - uses: azure/setup-helm@v1
      with:
        version: 'latest' # default is latest stable
      id: install

    # Add repo
    - name: Add XSK helm repo
      run: |
        helm repo add xsk https://www.xsk.io
        helm repo update

    # Verify Helm XSK chart
    - name: Get XSK helm chart sha
      run: |
        mkdir ~/.gnupg
        wget https://xsk.io/charts/pubring.gpg -O ~/.gnupg/pubring.gpg
        OUTPUT=$(helm pull xsk/xsk --version ${{ inputs.XSK_VERSION }} --verify)
        OUTPUT="${OUTPUT//'%'/'%25'}"
        OUTPUT="${OUTPUT//$'\n'/'%0A'}"
        OUTPUT="${OUTPUT//$'\r'/'%0D'}"
        HELM_SHA=$(echo "$OUTPUT" | tail -n1)
        SHA=$(sed -e 's#.*sha256:\(\)#\1#' <<< $HELM_SHA)
        echo "::set-output name=XSK_HELM_SHA_PRINT::$SHA"
      id: XSK_HELM_SHA  

    # Check chart sha
    - name: Check chart sha
      if: "${{ steps.XSK_HELM_SHA.outputs.XSK_HELM_SHA_PRINT }} != ${{ inputs.XSK_HELM_SHA }}"
      run: |
        echo "Failed to verify sha!"
        exit 1

    # Deploy XSK on stage
    - name: Deploy XSK helm chart
      run: |
        helm upgrade --install xsk-stage xsk/xsk --version ${{ inputs.XSK_VERSION }} -n ${{ secrets.STAGE_NAMESPACE }} \
        --set hana.enabled=true \
        --set hana.url=${{ secrets.STAGE_HANA_URL }} \
        --set hana.username=${{ secrets.STAGE_HANA_USERNAME }} \
        --set hana.password=${{ secrets.STAGE_HANA_PASSWORD }} \
        --set kyma.enabled=true \
        --set kyma.host=${{ secrets.STAGE_KYMA_HOST }} \
        --set namespace.name=${{ secrets.STAGE_NAMESPACE }} \
        --set serviceAccount.name=${{ secrets.STAGE_SERVICE_ACCOUNT }} \
        --set application.image=dirigiblelabs/xsk-kyma:${{ inputs.XSK_VERSION }}
